<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
                                                                                                      <!-- в object будет передан объект person -->
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
                              <!-- action - на этот url данные с формы будут отправлены!!! (была ошибка @{/people/{id}(id=${person.getId()})/edit})-->
                              <!-- метод PATCH, только с th (thymeleaf.org) -->
                              <!-- thymeleaf в форме с методом POST сам создаст скрытое поле и поместит в него значение PATCH -->
                              <!-- spring с помощью фильтров прочитает значение поля с name="_method" value="PATCH"-->
    <label for="name">Enter name: </label>                <!-- for="name" значит лебл (ярлык, этикетка) для id="name"-->
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>
