<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>
                                                         <!--с помощью тега <a.../> только GET-запрос-->

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>      <!-- без th не отработает href c подстановкой id-->

<br/>
<br/>                                                    <!-- для POST-запроса используем форму-->
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete" >
</form>

<br/>
<a href="/people">Go to people</a>

</body>
</html>


