<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Hello</title>
</head>

<body>

<p>Hello!</p>

<a href="goodbue.html">Say goodbue</a>  or <a href="/second/exit.html">Exit</a>
or <a href="/first/hello?Tom&Jone">Reqest with parameters</a>

<p th:text="${message}"/>             <!-- <p..> - ???????? -->
                                      <!-- th - ??????? thymeleaf ????? ??????????? ??????????? ???????? ?? ????? "message" -->
                                      <!-- ?????? ??????????: <p th:text="${message}"></p>  -->
</body>

</html>