<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

  <display-name>spring-mvc-app1</display-name>

  <absolute-ordering/>

  <servlet>                                         <!-- с помощью тега <servlet> создаем DispatcherServlet -->
    <servlet-name>dispatcher</servlet-name>         <!-- название сервлета dispatcher -->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- класс берём из Spring-a, он уже реализован -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContextMVC.xml</param-value>   <!-- путь до конфиг-го файла -->
    </init-param>
    <load-on-startup>1</load-on-startup>                         <!--  load-on-startup 1 - загрузка в первую очередь -->
  </servlet>

  <servlet-mapping>                          <!-- с помощью тега <servlet-mapping> обращаемся к нашему DispatcherServlet -->
    <servlet-name>dispatcher</servlet-name>  <!-- с помощью тега <servlet-name> указываем имя нашего DispatcherServlet    -->
    <url-pattern>/</url-pattern>             <!-- "/" - любой наш запрос должен перенаправляться на наш DispatcherServlet -->
  </servlet-mapping>                         <!-- при попадании запроса в DispatcherServlet он перенаправит в правильный контроллер -->

</web-app>
<!--        Сервлет представляет специальный тип классов Java, который выполняется на веб-сервере -->
<!--        и который обрабатывает запросы и возвращает результат обработки.                      -->
<!--        Иерархия Servlet -> GenericServlet -> HTTPServlet -> MyServlet                        -->